@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

header .navbar {
  max-width: 100%;
  background-color: #000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header .navbar .navbar__wrapper a {
  text-decoration: none;
  color: #fff;
}

header .navbar .navbar__wrapper .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  list-style: none;
  margin-bottom: 0;
  margin-left: 100px;
}

header .navbar .navbar__wrapper .navbar-nav .nav-link {
  text-decoration: none;
  color: #bdbcbc;
  font-weight: 500;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .navbar .navbar__wrapper .navbar-nav .nav-link:hover {
  color: #fff !important;
}

header .navbar .navbar__wrapper .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  margin-left: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 10px 20px;
  background-color: #2d2ddf;
  border-radius: 20px;
}

header .navbar .navbar__wrapper .call:hover {
  background-color: #4343fa;
}

header .hero {
  background-image: url(../../images/home__hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80vh;
  max-width: 100%;
}

header .hero .hero__section h2 {
  text-align: center;
  padding-top: 180px;
  font-weight: 700;
}

header .hero .hero__section p {
  text-align: center;
  font-weight: 500;
  font-size: x-large;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .hero {
    min-height: 20vh !important;
  }
}

footer .footer__wrapper {
  background-color: #968a8a;
}

footer .footer__wrapper .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  height: 50px;
  margin: 0 auto;
}

footer .footer__wrapper .socials h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Montserrat";
}

footer .footer__wrapper .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__wrapper .socials h3 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
}

.products__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  margin-top: 150px;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__section img {
  border-radius: 30px;
  height: 300px;
}

.products__section .content__text p {
  text-align: start;
  max-width: 400px;
}

@media (max-width: 767px) {
  .products__section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .products__section img {
    height: 200px;
    margin-top: 30px;
  }
  .products__section .content__text {
    text-align: center;
  }
  .products__section .content__text p {
    text-align: center;
  }
  .access {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=main.css.map */